language: rust
rust:
  - stable
  - beta
  - nightly
matrix:
  allow_failures:
    - rust: nightly

script:
    - |
        cargo build && if [ "$TRAVIS_RUST_VERSION" == "nightly" ]; then
          cargo test --features "test_tools";
        fi
